# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# SUPABASE CONFIGURATION
VITE_SUPABASE_URL="https://smprrzcgxnyvmcbaaxmv.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_V_E083P72EW3Cg8-GkWYBw_DbC5_N3U"
SUPABASE_SERVICE_ROLE_KEY=""
